<configuration scan="true" debug="true">
    <jmxConfigurator/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./system_${cassandra.node_ordinal:-0}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./system_${cassandra.node_ordinal:-0}.log.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>500MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %F:%L %M %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %C.%M\(%F:%L\) %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.thinkaurelius.thrift" level="ERROR"/>
    <logger name="org.apache" level="WARN"/>

    <logger name="org.apache.cassandra" level="WARN"/>
    <logger name="org.apache.cassandra.service" level="WARN"/>
    <logger name="org.apache.cassandra.db.commitlog" level="WARN"/>
    <logger name="org.apache.cassandra.db.compaction" level="WARN"/>
    <logger name="org.apache.cassandra.config.DatabaseDescriptor" level="WARN"/>
    <logger name="org.apache.cassandra.service.CassandraDaemon" level="DEBUG"/>
    <logger name="org.apache.cassandra.service.ElassandraDaemon" level="TRACE"/>


    <logger name="org.elassandra.cluster" level="TRACE"/>
    <logger name="org.elassandra.search" level="TRACE"/>
    <logger name="org.elassandra.index" level="TRACE" />

    <logger name="org.elasticsearch.indices" level="TRACE" />



    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
