<configuration packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.undertow.websockets.core.request" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="com.datastax.driver.core" level="ERROR"/>
    <logger name="io.netty.util.internal" level="ERROR"/>
    <logger name="org.ehcache.core" level="ERROR"/>
    <logger name="reactor.ipc.netty.channel" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.I0Itec" level="WARN"/>
    <logger name="kafka.server" level="WARN"/>
    <logger name="org.springframework.core.env" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="javax.management" level="WARN"/>
    <logger name="org.springframework.kafka.core" level="WARN"/>
    <logger name="reactor.ipc.netty.http" level="WARN"/>
    <logger name="org.springframework.boot.actuate" level="WARN"/>
    <logger name="org.springframework.web.reactive" level="WARN"/>
    <logger name="org.springframework.http.server" level="WARN"/>
    <logger name="org.springframework.transaction.support" level="WARN"/>
    <logger name="org.web3j.protocol.http" level="WARN"/>
    <logger name="org.springframework.data.cassandra.core.convert" level="WARN"/>
    <logger name="kafka.utils.CoreUtils" level="ERROR"/>

    <root level="${CS_LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>